.popup__content {
	display: flex;
	flex-direction: column;
	background: #FFFFFF;
	max-width: 430px;
	height: 330px;
	border-radius: 10px;
	margin: 20% auto;

}

@media screen and (max-width: 768px) {
	.popup__content {
		margin: 50% auto;
	}
}


@media screen and (max-width: 470px) {
	.popup__content {
		width: 282px;
		height: 322px;
	}
}