.popup__about {
	margin: 0 auto;
	width: 358px;
	height: 27px;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 30px;
	outline: 0;
}

@media screen and (max-width: 768px) {
	.popup__about {
		max-width: 580px;
	}
}

@media screen and (max-width: 470px) {
	.popup__about {
		width: 238px;
		height: 46px;
	}
}