.popup__save-button {
	margin: 0 auto;
	width: 358px;
	height: 50px;
	background: #000000;
	border-radius: 2px;
	color: #FFFFFF
}

.popup__save-button:hover {
	opacity: 0.6;
	transition: opacity .2s;
	cursor: pointer;
}