.element__like-button {
	width: 22px;
	height: 19px;
	background-color: transparent;
	border: none;
	background-image: url(../../../images/elements/heart.svg);
	background-repeat: no-repeat;
	background-size: 22px 22px;
	background-position: center;
	padding: 0;
	margin-right: 20px;
	align-self: center;	
}

.element__like-button:hover {
	opacity: 0.6;
	transition: opacity .2s;
	cursor: pointer;
}

.element__like-button_active {
	
}